body{
    color: antiquewhite;
    background-color: black;
}

.nav{
    --bs-nav-link-color: antiquewhite;
    --bs-nav-link-hover-color: antiquewhite; 
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.display{
    font-size: large;
    font: 5em sans-serif;
    text-align: center;
}

button{
    margin: 1rem;
}

