.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 2rem;
}

.display {
    display: block;
}

.play-btn {
    background: transparent;
    box-sizing: border-box;
    border-color: transparent transparent transparent white;
    cursor: pointer;
    border-style: solid;
    border-width: 17px 0 17px 30px;
}

.play-btn:hover {
    border-color: transparent transparent transparent lightskyblue;
}

.pause-btn{
    height: 34px;
    background: transparent;
    box-sizing: border-box;
    border-color: transparent transparent transparent white;
    cursor: pointer;
    border-style: double;
    border-width: 0px 0 0px 30px
}

.pause-btn:hover {
    border-color: transparent transparent transparent lightskyblue;
}